.left-arrow,
.right-arrow {
  color: white;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
}

.left-arrow:hover,
.right-arrow:hover {
  background-color: #5ece7b;
  cursor: pointer;
  font-size: 40px;
}

.left-arrow {
  position: absolute;
  background: url("../../images/left.svg") no-repeat;
  margin: -100px 0px 0px 40px;
  padding: 5px 5px 10px 5px;
}

.right-arrow {
  position: absolute;
  background: url("../../images/right.svg") no-repeat;
  margin: -100px 0px 0px 100px;
  padding: 5px 5px 10px 5px;
}

.slider {
  height: 185px;
  width: 141px;
  margin-left: 10px;
}

.slider img {
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
