.mc-attributes-box-disable {
  background: #ededed;
  color: #a6a6a6;
  border: #a6a6a6 solid 1px;
}

.mc-attributes-box {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.quantity {
  height: 87px;
  width: 24px;
  line-height: 87px;
  text-align: center;
}

.mc-col-image img {
  width: 100%;
  height: 100%;
}

.mc-total {
  display: flex;
  font-size: 16px;
  margin: 42px 0px 37px 0px;
  font-weight: bold;
}

.mc-total div:last-child {
  width: 282px;
  text-align: right;
}

.mc-buttons {
  font-weight: 600;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  height: 43px;
}

.mc-buttons div {
  height: 43px;
  width: 152px;
  text-transform: uppercase;
  line-height: 43px;
  text-align: center;
}

.mc-buttons div:first-child {
  border: #1d1f22 solid 1px;
  margin-right: 12px;
  cursor: pointer;
}

.mc-buttons div:last-child {
  background-color: #5ece7b;
  color: white;
}

.mc-col-attributes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mc-col-attributes div {
  margin-right: 8px;
}