.mini-cart-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    width: 325px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #1d1f22;
    padding: 15px;
    background: #ffffff;
  }
  
  .mini-cart-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 16px 0px;
  }
  
  .mc-col-name {
    display: flex;
    flex-direction: column;
    height: 52px;
    width: 136px;
    font-weight: 300;
    font-size: 16px;
  }
  
  .mc-col-name div:first-child{
    margin-bottom: 5px;
  }
  
  .mc-col-image {
    height: 137px;
    width: 137px;
    margin-left: 10px;
  }
  
  .mc-quantity-switcher {
    font-style: oblique;
    font-size: 18px;
    width: 24px;
    height: 24px;
    border: #1d1f22 solid 1px;
    line-height: 22px;
    text-align: center;
  }
  
  .mc-col-name div:nth-child(2){
    font-weight:bold;
  }
  
  .mc-quantity {
    height: 87px;
    width: 24px;
    line-height: 87px;
    text-align: center;
  }
  
  .mc-col-image img {
    width: 100%;
    height: 100%;
  }
  
  .mc-total{
    display: flex;
    font-size: 16px;
    margin:42px 0px 37px 0px;
    font-weight: bold;
  }
  
  .mc-total div:last-child{
    width: 282px;
    text-align: right;
  }
  
  .mc-buttons{
    display: flex;
    flex-direction: row;
    height: 43px;
  }
  
  .mc-buttons div{
    height: 43px;
    width: 152px;
    text-transform: uppercase;
    line-height: 43px;
    text-align: center;
  }
  
  .mc-buttons div:first-child{
    border:#1d1f22 solid 1px;
    margin-right: 12px;
    cursor: pointer;
  }
  
  .mc-buttons div:last-child{
    background-color: #5ece7b;
    color:white;
  }
  
  .mc-col-attributes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .mc-col-attributes div{
    margin-right: 8px;
  }