.mini-cart-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #1d1f22;
  padding: 15px;
  background: #ffffff;
  top: 100px;
}

.mini-cart-container-overflow {
  max-height: 900px;
  overflow-y: scroll;
}

.mini-cart-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 16px 0px;
}

.mc-col-name {
  display: flex;
  flex-direction: column;
  width: 136px;
  font-weight: 300;
  font-size: 16px;
  flex-basis: 136px;
  flex-shrink: 0;
}

.mc-col-name div:first-child {
  margin-bottom: 5px;
}

.mc-col-name .mc-col-name-amount {
  font-weight: bold;
}

.quantity-switcher-plus,
.quantity-switcher-minus,
.mc-attributes-box {
  width: 24px;
  height: 24px;
  line-height: 24px;
  border: #1d1f22 solid 1px;
  text-align: center;
  cursor: pointer;
}

.mc-attributes-box {
  cursor: text;
}

.quantity-switcher-plus,
.quantity-switcher-minus {
  font-size: 28px;
  font-weight: 200;
  line-height: 20px;
}

.quantity-switcher-plus {
  line-height: 24px;
}

.details-mc-cart-border {
  box-shadow: 0px 0px 30px rgba(223, 220, 220, 0.5);
  padding: 15px;
}
