body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  padding-top: 5rem;
  margin-top: 0 auto;
  width: 600px;
}

.container {
  background-color: white;
  padding-left: 100px;
}

.inner-container {
  opacity:0.5;
  background: rgba(57, 55, 72, 0.22);
  position: absolute;
  top: 95px;
  left:530px;
}

h2 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  color: #222;
  font-size: 42px;
  font-weight: normal;
  line-height: 67.2px;
  margin-right: auto;
  padding-left: 100px;
}

.navbar {
  height: 80px;
  padding: 40px 0px 0px 200px;
}

.navbar li {
  list-style-type: none;
  text-transform: uppercase;
  padding-bottom: 40px;
}

.navbar li:hover {
  cursor: pointer;
}

.navbar li:first-child,
li:nth-child(2),
li:nth-child(3) {
  margin-right: 20px;
}

.navbar li.image {
  margin-left: -120%;
  background: url(images/icon.png) no-repeat;
  padding: 20px;
}

.navbar li.image:hover {
  cursor: text;
}

.navbar li.symbol, li.cart,
li.vector , li.round{
  padding-bottom: 0px;
}

.navbar li.symbol {
  padding: 0px;
  margin-right: 5px;
}

.navbar li.symbol:hover {
  cursor: text;
}

.navbar li.vector {
  background: url(images/vector.svg) no-repeat;
  padding: 0px 8px 0px 0px;
  margin-top: 10px;
}

.navbar li.cart {
  background: url(images/cart.png) no-repeat;
  padding: 10px 14px 10px 14px;
}

.selected {
  border-bottom: 1px #5ece7b solid;
  color: #5ece7b;
}

.round {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  background: black;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  margin: -10px 0px 0px -35px;
}

.currency-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  right: 800px;
  top: 70px;
  width: fit-content;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #1d1f22;
  box-shadow: 0px 0px 30px rgba(223, 220, 220, 0.5);
  padding: 15px;
  background: #ffffff;
}

.currency-item {
  margin: 0px 0px;
  padding: 10px;
}

.currency-item:hover {
  background-color: #5ece7b;
  cursor: pointer;
}

.mini-cart-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  right: 800px;
  top: 70px;
  width: 325px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #1d1f22;
  padding: 15px;
  background: #ffffff;
}