@import url(https://fonts.googleapis.com/css?family=Raleway:300,regular,500);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular);


body {
  margin: 0 auto;
  width: 1440px;
  font-family: "Raleway", "Roboto", "Source Sans Pro";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  background-color: white;
}

.container .product-content,
.navbar {
  padding-left: 100px;
  padding-right: 100px;
}

.inner-container {
  opacity: 0.5;
  background: rgba(57, 55, 72, 0.22);
}

h2 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  color: #222;
  font-size: 42px;
  font-weight: normal;
  line-height: 67.2px;
  margin: 0 auto;
  padding: 80px 0px;
}

.navbar {
  height: 60px;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
}

.product-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.navbar li {
  list-style-type: none;
  text-transform: uppercase;
}

.navbar li:hover {
  cursor: pointer;
}

.navbar li:first-child,
li:nth-child(2),
li:nth-child(3) {
  margin-right: 32px;
  width: 3%;
}

.navbar li:nth-child(4) {
  width: 30%;
}

.navbar li.image {
  background: url(images/icon.png) no-repeat;
  padding: 20px;
  width: 35%;
}

.navbar li.image:hover {
  cursor: text;
}

.navbar li.symbol,
li.cart,
li.vector,
li.round {
  padding-bottom: 0px;
}

.navbar li.symbol {
  padding: 0px;
  margin-right: 5px;
}

.navbar li.symbol:hover {
  cursor: text;
}

.navbar li.vector {
  background: url(images/vector.svg) no-repeat;
  padding-right: 15px;
  margin-top: 10px;
}

.navbar li.cart {
  background: url(images/cart.png) no-repeat;
  padding: 10px 14px 10px 14px;
}

.selected {
  border-bottom: 1px #5ece7b solid;
  color: #5ece7b;
}

.round {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  background: black;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  margin: -8px 0px 0px -15px;
}

.currency-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  right: 800px;
  top: 70px;
  width: fit-content;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #1d1f22;
  box-shadow: 0px 0px 30px rgba(223, 220, 220, 0.5);
  padding: 15px;
  background: #ffffff;
}

.currency-item {
  margin: 0px 0px;
  padding: 10px;
}

.currency-item:hover {
  background-color: #5ece7b;
  cursor: pointer;
}