body {
  margin: 0 auto;
  min-width: 1440px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  background-color: white;
}

.container .product-content,
.navbar {
  padding-left: 100px;
  padding-right: 100px;
}

.inner-container {
  opacity: 0.5;
  background: rgba(57, 55, 72, 0.22);
}

h2 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  color: #222;
  font-size: 42px;
  font-weight: normal;
  line-height: 67.2px;
  margin: 0 auto;
  padding: 80px 0px;
}

.navbar {
  height: 60px;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
}

.product-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.navbar li {
  list-style-type: none;
  text-transform: uppercase;
}

.navbar li:hover {
  cursor: pointer;
}

.navbar li:first-child,
li:nth-child(2),
li:nth-child(3) {
  margin-right: 32px;
  width: 3%;
}

.navbar li:nth-child(4) {
  width: 30%;
}

.navbar li.image {
  background: url(images/icon.png) no-repeat;
  padding: 20px;
  width: 35%;
}

.navbar li.image:hover {
  cursor: text;
}

.navbar li.symbol,
li.cart,
li.vector,
li.round {
  padding-bottom: 0px;
}

.navbar li.symbol {
  padding: 0px;
  margin-right: 5px;
}

.navbar li.symbol:hover {
  cursor: text;
}

.navbar li.vector {
  background: url(images/vector.svg) no-repeat;
  padding-right: 15px;
  margin-top: 10px;
}

.navbar li.cart {
  background: url(images/cart.png) no-repeat;
  padding: 10px 14px 10px 14px;
}

.selected {
  border-bottom: 1px #5ece7b solid;
  color: #5ece7b;
}

.round {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  background: black;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  margin: -8px 0px 0px -15px;
}

.currency-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  right: 800px;
  top: 70px;
  width: fit-content;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #1d1f22;
  box-shadow: 0px 0px 30px rgba(223, 220, 220, 0.5);
  padding: 15px;
  background: #ffffff;
}

.currency-item {
  margin: 0px 0px;
  padding: 10px;
}

.currency-item:hover {
  background-color: #5ece7b;
  cursor: pointer;
}

.mini-cart-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  width: 325px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #1d1f22;
  padding: 15px;
  background: #ffffff;
}

.mini-cart-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 16px 0px;
}

.mc-col-name {
  display: flex;
  flex-direction: column;
  height: 52px;
  width: 136px;
  font-weight: 300;
  font-size: 16px;
}

.mc-col-name div:first-child{
  margin-bottom: 5px;
}

.mc-col-image {
  height: 137px;
  width: 137px;
  margin-left: 10px;
}

.mc-quantity-switcher {
  font-style: oblique;
  font-size: 18px;
  width: 24px;
  height: 24px;
  border: #1d1f22 solid 1px;
  line-height: 22px;
  text-align: center;
}

.mc-col-name div:nth-child(2){
  font-weight:bold;
}

.mc-quantity {
  height: 87px;
  width: 24px;
  line-height: 87px;
  text-align: center;
}

.mc-col-image img {
  width: 100%;
  height: 100%;
}

.mc-total{
  display: flex;
  font-size: 16px;
  margin:42px 0px 37px 0px;
  font-weight: bold;
}

.mc-total div:last-child{
  width: 282px;
  text-align: right;
}

.mc-buttons{
  display: flex;
  flex-direction: row;
  height: 43px;
}

.mc-buttons div{
  height: 43px;
  width: 152px;
  text-transform: uppercase;
  line-height: 43px;
  text-align: center;
}

.mc-buttons div:first-child{
  border:#1d1f22 solid 1px;
  margin-right: 12px;
  cursor: pointer;
}

.mc-buttons div:last-child{
  background-color: #5ece7b;
  color:white;
}

.mc-col-attributes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mc-col-attributes div{
  margin-right: 8px;
}