.attributes-box-disable {
  background: #ededed;
  color: #a6a6a6;
  border: #a6a6a6 solid 1px;
}

.attributes-box {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.05em;
}

.mc-col-image img {
  width: 100%;
  height: 100%;
}

.cart-total {
  display: flex;
  font-size: 16px;
  margin: 42px 0px 37px 0px;
  font-weight: bold;
}

.cart-total div:last-child {
  width: 282px;
  text-align: right;
}


.cart-col-attributes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cart-col-attributes div {
  margin-right: 12px;
}

.attribute-title{
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.05em;
  text-align: center;
  margin-right: 12px;
}

.attributes-box {
  width: 63px;
  height: 45px;
  line-height: 45px;
  border: #1d1f22 solid 1px;
  text-align: center;
  cursor: pointer;
}